body {
  margin: 0;
  background-color: #364966 ;
}

::-webkit-scrollbar{
  width: 2em;
}

::-webkit-scrollbar-track{
  background: brown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Loading{
  display: flex;
  align-items: center;
}